@media screen and (max-width: 768px) {
  .dashboard-profile-view-content {
    height: calc(100vh - 180px) !important;
    overflow-x: hidden;
  }
}
.dashboard-profile-header {
  cursor: default;
  margin-top: 45px;
  margin-left: 10px;
  margin-bottom: 25px;
}
.dashboard-profile-view-content {
  height: calc(100vh - 241px);
  overflow-y: auto;
}
.profile-header-text {
  font-weight: 100;
  font-size: 25px;
  line-height: 30px;
  color: #512f7c;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.profile-header-icon {
  margin-left: 10px;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.profile-view-name-age {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  margin: 10px 0 5px 7px;
  color: #371b5b;
}
.profile-view-location {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #6e6687;
  margin: 0 0 5px 7px;
}
.profile-view-decription {
  margin: 0 0 5px 7px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #6e6687;
}
.image-gallery-image {
  object-fit: fill !important;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 56px !important;
  width: 25px !important;
}
.profile-header-icon-back {
  width: 9px;
  height: 15px;
  margin-top: 8px;
  margin-right: 11px;
  cursor: pointer;
}
